<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<body>

<div ng-app="EjemploAngular" ng-controller="HttpGetController">

<p>Un ejemplo de:</p>

<!--<h1>{{msg}}</h1>-->

<p>First Name: <input type="text" name="firstName" ng-model="firstName" required /></p>
<p>Last Name: <input type="text" name="lastName" ng-model="lastName" required /></p>
<button ng-click="SendData()">Submit</button>
<hr />
<p>{{ msg }}</p>

</div>

<p>Usando Slim como framework de php para el backend</p>

<script src="../js/EjemploController.js"></script>
<link rel="shortcut icon" href="" />

</body>

</html>
